<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #333;
    }

    p {
        color: #666;
        line-height: 1.6;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 10px;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<div class="container">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">About</h1>
    </div>

    <div class="pt-3">
        <p>This is a simple user management system created by Harsh Dager.</p>
        <p>Check out Harsh's profiles:</p>
        <ul>
            <li><a href="https://github.com/Harsh4dager">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/harsh-dager/">LinkedIn</a></li>
        </ul>
    </div>
</div>